/* ベースのスタイル */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    /* 暗めの背景色 */
    color: #fff;
    /* 白色のテキスト色 */
}

/* 画面の最大幅 */
main {
    max-width: 1230px;
    margin: 0 auto;
    /* 中央揃え */
    padding: 20px;
    margin-top: 60px;
}

/* ページ本体 */
.admin__shop {
    text-align: center;
    margin-top: 20px;
}

.admin__title h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.new__form {
    text-align: center;
}

/* CSVファイルをインポートボタン */

.new__button {
    padding: 20px;
}

.new__button button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.new__button button:hover {
    background-color: #0056b3;
    /* ホバー時の色 */
}