/* 共通ヘッダー */
.common {
    background-color: #232323;
    color: #fff;
    padding: 10px 20px;
    /* 左右の余白を追加 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* 左端に固定 */
    width: 100%;
    /* 画面幅いっぱいに広げる */
    z-index: 1000;
    box-sizing: border-box;
}

/* ヘッダーのロゴ */
.header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

/* ヘッダーの右側要素 */
.header__right {
    display: flex;
    align-items: center;
}

/* ヘッダー内のコンテンツ */
.header__content {
    display: flex;
    align-items: center;
}

/* ヘッダー内のURLリンク */
.header__url {
    margin-left: 20px;
}

.header__url a {
    color: #fff;
    text-decoration: none;
}

.header__url a:hover {
    text-decoration: underline;
}

/* ログアウトボタン */
.logout__form {
    margin-left: 20px;
}

.logout__button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.logout__button:hover {
    background-color: #0056b3;
}

/* 成功メッセージ */
.alert-success {
    background-color: #6ba26b;
    /* 薄緑色 */
    color: #fff;
    /* 白色のテキスト */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    /* メッセージの下に余白を追加 */
}