/* 共通ヘッダー */
.common {
    background-color: #232323;
    /* 暗めの背景色 */
    color: #fff;
    /* 白色のテキスト色 */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ヘッダーのロゴ */
.header h1 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
}

/* ヘッダーの右側要素 */
.header__right {
    display: flex;
    align-items: center;
}

/* ヘッダー内のコンテンツ */
.header__content {
    display: flex;
    align-items: center;
}

/* ヘッダー内のURLリンク */
.header__url {
    margin-left: 20px;
}

.header__url a {
    color: #fff;
    text-decoration: none;
}

.header__url a:hover {
    text-decoration: underline;
}

/* ログアウトボタン */
.logout__form {
    margin-left: 20px;
}

.logout__button {
    background-color: #007bff;
    /* 鮮やかな青色 */
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.logout__button:hover {
    background-color: #0056b3;
    /* ホバー時の色 */
}