/* ベースのスタイル */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    /* 暗めの背景色 */
    color: #fff;
    /* 白色のテキスト色 */
}

main {
    max-width: 1230px;
    margin: 0 auto;
    /* 中央揃え */
    padding: 20px;
    margin-top: 60px;
}

/* 共通スタイル */
.detail {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: #333;
    /* 暗めの背景色 */
    color: #fff;
    /* 白色のテキスト色 */
    display: flex;
    justify-content: center;
    /* 中央揃え */
}

.detail__shop {
    width: 500px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    /* 半透明の白色背景 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* 中央揃え */
}

.detail__img img {
    width: 400px;
    height: auto;
    max-width: 100%;
}

.detail__name {
    margin: 20px 0;
    font-size: 24px;
}

.detail__content {
    display: flex;
    justify-content: center;
    /* 中央揃え */
    margin-top: 20px;
}

.detail__genre {
    margin-left: 10px;
}

.detail__overview {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    /* 中央揃え */
}

.detail__review a {
    color: #fff;
    text-decoration: none;
}

.detail__reserve {
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    /* 半透明の白色背景 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* 中央揃え */
}

.reserve__head {
    padding-top: 20px;
    font-size: 24px;
}

.reserve__form {
    padding: 15px;
    text-align: center;
    /* 中央揃え */
}

.reserve__form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    /* 半透明の白色背景 */
    color: #fff;
    margin-bottom: 15px;
}

.reserve__button {
    padding: 20px;
}

.reserve__button button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #007bff;
    /* 鮮やかな青色 */
    color: #fff;
    border: none;
    cursor: pointer;
}

.reserve__button button:hover {
    background-color: #0056b3;
    /* ホバー時の色 */
}

/* レビュー表示 */
.detail__reviews {
    text-align: center;
    /* 中央揃え */
}

.detail__reviews h2 {
    font-size: 24px;
    margin-top: 20px;
}

.detail__sort {
    text-align: center;
    padding: 20px 0;
}

.detail__reviews ul {
    list-style: none;
    padding: 0;
}

.detail__reviews li {
    height: auto;
    /* カードの高さを100pxに設定 */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    /* 半透明の白色背景 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* 高さを超えたコンテンツを隠す */
}

.detail__reviews p {
    margin: 0;
}

.detail__reviews img {
    width: auto;
    height: 100%;
    max-width: 100%;
}