/* 共通スタイル */
.detail {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: rgb(238, 238, 238);
    display: flex;
}

.detail__shop {
    width: 500px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 55px;
    border: 1px solid #ccc;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.detail__img img {
    width: 400px;
    height: auto;
}

.detail__img {
    text-align: center;
}

.detail__name {
    margin-left: 50px;
}

.detail__content {
    margin-left: 50px;
    display: flex;
}

.detail__genre {
    margin-left: 10px;
}

.detail__overview {
    font-size: 20px;
}

.detail__reserve {
    width: 500px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 85px;
    border: 1px solid #ccc;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.reserve__head {
    padding-top: 60px;
}

.reserve__form {
    padding: 15px;
}

.reserve__form input {
    width: 200px;
    height: 50px;
}

.reserve__button {
    padding: 60px;
}

.reserve__button button {
    width: 250px;
    height: 50px;
    background: rgb(68, 68, 255);
    color: #fff;
    cursor: pointer;
    border: none;
}

/* スマートフォン用スタイル（768px以下） */
@media (max-width: 768px) {
    .detail__shop {
        width: 100%;
        /* ブレイクポイント以下で幅を100%に変更 */
        margin: 20px 0;
        /* 上下のマージンを追加 */
        padding: 10px;
        /* パディングを調整 */
    }

    .detail__img img {
        width: 100%;
        /* 画像の幅を100%に変更 */
    }

    .detail__name,
    .detail__content,
    .detail__genre,
    .detail__overview,
    .detail__reserve {
        margin-left: 0;
        /* 左マージンを0に変更 */
    }

    .reserve__form input {
        width: 100%;
        /* 入力フィールドの幅を100%に変更 */
    }

    .reserve__button {
        padding: 20px 0;
        /* パディングを調整 */
    }
}