/*---------- ページ全体 ----------*/
.login {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    max-height: auto;
    background: rgb(238, 238, 238);
}

/*---------- h1：ログイン ----------*/
.login__head {
    text-align: center;
}

/*---------- フォーム全体 ----------*/
.login__form {
    text-align: center;
}

/*---------- 入力フォーム ----------*/
.form__input input {
    padding: 10px;
    width: 100%;
    /* 幅を100%に設定して親要素に合わせる */
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input {
    padding: 10px;
}

/*---------- ログインボタン ----------*/
.form__button {
    text-align: center;
    padding: 10px;
}

.button__submit {
    padding: 10px;
    width: 100%;
    /* 幅を100%に設定して親要素に合わせる */
    max-width: 400px;
    /* 最大幅を設定 */
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(68, 68, 255);
    color: #fff;
    cursor: pointer;
}

/*---------- アナウンス ----------*/
.content_text {
    color: rgb(147, 147, 147);
}

/*---------- 会員登録ページのリンク ----------*/
.content_register {
    color: rgb(63, 63, 255);
}

/*---------- スマートフォン用のスタイル ----------*/
@media (max-width: 768px) {

    /* 768px以下の画面幅に適用されるスタイルをここに記述 */
    .login {
        padding: 15px;
        /* 画面幅が狭い場合、パディングを調整 */
    }

    .form__input input,
    .button__submit {
        width: 100%;
        /* 幅を100%に設定して親要素に合わせる */
        max-width: none;
        /* 最大幅を解除 */
    }
}