.mypage {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: rgb(238, 238, 238);
}

.mypage__head {
    text-align: center;
}

.mypage__content {
    display: flex;
}

.mypage__reserve {
    width: 600px;
}

.reserve__box {
    text-align: center;
}

.reserve__wrapper {
    width: 500px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 50px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mypage__favorite {
    width: 600px;
    height: auto;
}

.favorite__box {
    text-align: center;
}

.favorite__wrapper {
    width: 500px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 50px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mypage__text {
    text-align: center;
}

.reserve__img img {
    width: 400px;
    height: auto;
}

.favorite__img img {
    width: 400px;
    height: auto;
}