.mypage {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: rgb(238, 238, 238);
}

.mypage__head {
    text-align: center;
}

.mypage__content {
    display: flex;
}

.mypage__reserve {
    width: 600px;
    height: auto;
}

.mypage__favorite {
    width: 600px;
    height: auto;
}

.mypage__text {
    text-align: center;
}