/* デフォルトスタイル */
.shops {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: rgb(238, 238, 238);
}

.shop__search {
    text-align: center;
    padding: 10px;
}

.shop__card {
    width: 250px;
    height: auto;
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card__img img {
    max-width: 100%;
    height: auto;
}

.shop__view {
    display: flex;
}

.view__area {
    padding-right: 10px;
}

.card__button {
    text-align: center;
}

/* スマートフォン向けスタイル（768px以下） */
@media (max-width: 768px) {
    .shop__card {
        width: 100%;
        /* 幅を100%に設定して幅いっぱいに表示 */
        margin: 10px;
        /* マージンを上下に設定して余白を調整 */
    }

    .view__area {
        padding-right: 0;
    }
}