/*---------- ページ全体 ----------*/
.mail {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    max-height: auto;
    background: rgb(238, 238, 238);
}

/*---------- メール案内 ----------*/
.mail__text {
    text-align: center;
    padding: 5px;
}

.mail__red {
    text-align: center;
    padding: 10px;
    color: red;
}

/*---------- アナウンス ----------*/
.register__form-content {
    text-align: center;
}

.content_text {
    color: rgb(147, 147, 147);
}

/*---------- メール再送信 ----------*/
.form__button {
    text-align: center;
    padding: 10px;
}

.button__submit {
    padding: 10px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(68, 68, 255);
    color: #fff;
    cursor: pointer;
}

/*---------- ログインページのリンク ----------*/
.content_register {
    color: rgb(63, 63, 255);
}