/*---------- ページ全体 ----------*/
.mail {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    max-height: auto;
    background: rgb(238, 238, 238);
}

/*---------- メール案内 ----------*/
.mail__text {
    text-align: center;
    padding: 5px;
}

.mail__red {
    text-align: center;
    padding: 10px;
    color: red;
}

/*---------- アナウンス ----------*/
.register__form-content {
    text-align: center;
}

.content_text {
    color: rgb(147, 147, 147);
}

/*---------- メール再送信 ----------*/
.form__button {
    text-align: center;
    padding: 10px;
}

.button__submit {
    padding: 10px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(68, 68, 255);
    color: #fff;
    cursor: pointer;
}

/*---------- ログインページのリンク ----------*/
.content_register {
    color: rgb(63, 63, 255);
}

/*---------- スマートフォン用のスタイル ----------*/
@media (max-width: 768px) {

    /* 768px以下の画面幅に適用されるスタイルをここに追加 */
    /* 例えば、フォントサイズを変更したり、余白を調整したりできます */
    .mail {
        padding: 20px 10px;
    }

    .mail__text {
        font-size: 16px;
    }

    .mail__red {
        font-size: 18px;
    }

    .register__form-content {
        font-size: 16px;
    }

    .content_text {
        font-size: 14px;
    }

    .form__button {
        padding: 5px;
    }

    .button__submit {
        width: 100%;
        font-size: 18px;
    }

    .content_register {
        font-size: 18px;
    }
}